Flow Node-Red/flows (3).json
[
    {
        "id": "5f63f24b9e84d865",
        "type": "tab",
        "label": "Delta -> MySQL Stop Events (Equipe)",
        "disabled": true,
        "info": ""
    },
    {
        "id": "10f98093cabd599b",
        "type": "modbus-read",
        "z": "5f63f24b9e84d865",
        "name": "Read M0 (isStopped)",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "2048",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "0a4dc517539c7567",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "05389185c2b24f57"
            ],
            [
                "b876e8a5bb0f64b7"
            ]
        ]
    },
    {
        "id": "05389185c2b24f57",
        "type": "function",
        "z": "5f63f24b9e84d865",
        "name": "Extract isStopped boolean",
        "func": "let v;\n\nif (msg.payload && msg.payload.data && Array.isArray(msg.payload.data)) {\n  v = msg.payload.data[0];\n} else if (Array.isArray(msg.payload)) {\n  v = msg.payload[0];\n} else {\n  v = msg.payload;\n}\n\nmsg.isStopped = (v === true) || (v === 1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 120,
        "wires": [
            [
                "187d079adaced1e4",
                "84668f378c4cd992",
                "2a1c5e9598d94f55"
            ]
        ]
    },
    {
        "id": "187d079adaced1e4",
        "type": "function",
        "z": "5f63f24b9e84d865",
        "name": "UI status text",
        "func": "msg.payload = msg.isStopped ? \"Machine en arrêt\" : \"Machine en marche\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 60,
        "wires": [
            [
                "5a7518ac6d125278"
            ]
        ]
    },
    {
        "id": "84668f378c4cd992",
        "type": "function",
        "z": "5f63f24b9e84d865",
        "name": "Stop counter (0->1)",
        "func": "let prev = flow.get(\"prevStopped_count\");\nlet count = flow.get(\"stopCount\") || 0;\n\nif (prev === undefined) {\n  flow.set(\"prevStopped_count\", msg.isStopped);\n  msg.payload = count;\n  return msg;\n}\n\nif (prev === false && msg.isStopped === true) {\n  count += 1;\n  flow.set(\"stopCount\", count);\n}\n\nflow.set(\"prevStopped_count\", msg.isStopped);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 110,
        "wires": [
            [
                "f2198074399ea6cc"
            ]
        ]
    },
    {
        "id": "5a7518ac6d125278",
        "type": "ui_text",
        "z": "5f63f24b9e84d865",
        "group": "9137c6f64bfb628f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Machine Status",
        "label": "Machine status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 60,
        "wires": []
    },
    {
        "id": "f2198074399ea6cc",
        "type": "ui_text",
        "z": "5f63f24b9e84d865",
        "group": "9137c6f64bfb628f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Stop count",
        "label": "Stop count",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 920,
        "y": 110,
        "wires": []
    },
    {
        "id": "dcfb8f17cf8d53ea",
        "type": "ui_text_input",
        "z": "5f63f24b9e84d865",
        "name": "Cause input",
        "label": "Cause d’arrêt",
        "tooltip": "",
        "group": "18c82ffc2545d602",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "cause",
        "sendOnBlur": true,
        "className": "",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "8280035148422120"
            ]
        ]
    },
    {
        "id": "8280035148422120",
        "type": "function",
        "z": "5f63f24b9e84d865",
        "name": "Store current cause",
        "func": "const cause = (typeof msg.payload === \"string\") ? msg.payload.trim() : String(msg.payload);\nflow.set(\"currentCause\", cause);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "2a1c5e9598d94f55",
        "type": "function",
        "z": "5f63f24b9e84d865",
        "name": "Edge detect -> SQL INSERT/UPDATE (with equipe)",
        "func": "function pad2(n){ return (n<10?\"0\":\"\") + n; }\nfunction ts(d){\n  return d.getFullYear()+\"-\"+pad2(d.getMonth()+1)+\"-\"+pad2(d.getDate())+\" \"+pad2(d.getHours())+\":\"+pad2(d.getMinutes())+\":\"+pad2(d.getSeconds());\n}\nfunction equipeFromDate(d){\n  const h = d.getHours();\n  if (h >= 6 && h < 14) return 1;     // 06:00 -> 13:59\n  if (h >= 14 && h < 22) return 2;    // 14:00 -> 21:59\n  return 3;                            // 22:00 -> 05:59\n}\n\nlet prev = flow.get(\"prevStopped_sql\");\n\n// init: avoid fake event after deploy\nif (prev === undefined) {\n  flow.set(\"prevStopped_sql\", msg.isStopped);\n  return [null, null];\n}\n\nlet outInsert = null;\nlet outUpdate = null;\n\n// RUN -> STOP : INSERT start_time + equipe\nif (prev === false && msg.isStopped === true) {\n  const now = new Date();\n  const startTime = ts(now);\n  const equipe = equipeFromDate(now);\n\n  outInsert = {\n    topic: \"INSERT INTO stop_events (start_time, equipe) VALUES (?, ?)\",\n    payload: [startTime, equipe]\n  };\n}\n\n// STOP -> RUN : UPDATE end_time + cause (close last open record)\nif (prev === true && msg.isStopped === false) {\n  const endTime = ts(new Date());\n\n  const causeRaw = flow.get(\"currentCause\");\n  const cause = (typeof causeRaw === \"string\" && causeRaw.trim().length)\n    ? causeRaw.trim()\n    : \"Unknown\";\n\n  outUpdate = {\n    topic: \"UPDATE stop_events SET end_time = ?, cause = ? WHERE end_time IS NULL ORDER BY id DESC LIMIT 1\",\n    payload: [endTime, cause]\n  };\n}\n\nflow.set(\"prevStopped_sql\", msg.isStopped);\nreturn [outInsert, outUpdate];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 200,
        "wires": [
            [
                "06f71839cddcf17e"
            ],
            [
                "a4da44695853d8c9"
            ]
        ]
    },
    {
        "id": "06f71839cddcf17e",
        "type": "mysql",
        "z": "5f63f24b9e84d865",
        "mydb": "a7de08c1c1333ad9",
        "name": "MySQL INSERT",
        "x": 960,
        "y": 150,
        "wires": [
            [
                "a2afe375e9a073a1"
            ]
        ]
    },
    {
        "id": "a4da44695853d8c9",
        "type": "mysql",
        "z": "5f63f24b9e84d865",
        "mydb": "a7de08c1c1333ad9",
        "name": "MySQL UPDATE",
        "x": 830,
        "y": 260,
        "wires": [
            [
                "a2afe375e9a073a1"
            ]
        ]
    },
    {
        "id": "dfac1257e7c39e43",
        "type": "inject",
        "z": "5f63f24b9e84d865",
        "name": "Load table on start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 1,
        "topic": "",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "a2afe375e9a073a1"
            ]
        ]
    },
    {
        "id": "a2afe375e9a073a1",
        "type": "function",
        "z": "5f63f24b9e84d865",
        "name": "SELECT last rows (with equipe label)",
        "func": "msg.topic = \"SELECT\\n\" +\n            \"  id,\\n\" +\n            \"  DATE_FORMAT(start_time, '%Y-%m-%d %H:%i:%s') AS start_time,\\n\" +\n            \"  DATE_FORMAT(end_time,   '%Y-%m-%d %H:%i:%s') AS end_time,\\n\" +\n            \"  cause,\\n\" +\n            \"  CASE equipe\\n\" +\n            \"    WHEN 1 THEN 'Equipe 1'\\n\" +\n            \"    WHEN 2 THEN 'Equipe 2'\\n\" +\n            \"    WHEN 3 THEN 'Equipe 3'\\n\" +\n            \"    ELSE CONCAT('Equipe ', equipe)\\n\" +\n            \"  END AS equipe\\n\" +\n            \"FROM stop_events\\n\" +\n            \"ORDER BY id DESC\\n\" +\n            \"LIMIT 50\";\nmsg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 340,
        "wires": [
            [
                "c2cc06b8f1709c83"
            ]
        ]
    },
    {
        "id": "c2cc06b8f1709c83",
        "type": "mysql",
        "z": "5f63f24b9e84d865",
        "mydb": "e95eb32d55689ca1",
        "name": "MySQL SELECT",
        "x": 790,
        "y": 420,
        "wires": [
            [
                "68348d8205f39344"
            ]
        ]
    },
    {
        "id": "68348d8205f39344",
        "type": "ui_template",
        "z": "5f63f24b9e84d865",
        "group": "18c82ffc2545d602",
        "name": "Stop History (from MySQL)",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"padding:0 6px;\">\n  <div ng-if=\"!msg.payload || msg.payload.length === 0\" style=\"color:#888;\">\n    No stops in database yet.\n  </div>\n\n  <table ng-if=\"msg.payload && msg.payload.length\" style=\"width:100%; border-collapse:collapse;\">\n    <thead>\n      <tr>\n        <th style=\"text-align:left; border-bottom:1px solid #ccc; padding:4px;\">Stop start time</th>\n        <th style=\"text-align:left; border-bottom:1px solid #ccc; padding:4px;\">Stop end time</th>\n        <th style=\"text-align:left; border-bottom:1px solid #ccc; padding:4px;\">Cause d’arrêt</th>\n        <th style=\"text-align:left; border-bottom:1px solid #ccc; padding:4px;\">Equipe</th>\n      </tr>\n    </thead>\n    <tbody>\n      <tr ng-repeat=\"row in msg.payload track by row.id\">\n        <td style=\"padding:4px; border-bottom:1px solid #eee;\">{{row.start_time}}</td>\n        <td style=\"padding:4px; border-bottom:1px solid #eee;\">{{row.end_time || '—'}}</td>\n        <td style=\"padding:4px; border-bottom:1px solid #eee;\">{{row.cause || '—'}}</td>\n        <td style=\"padding:4px; border-bottom:1px solid #eee;\">{{row.equipe || '—'}}</td>\n      </tr>\n    </tbody>\n  </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1030,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "b876e8a5bb0f64b7",
        "type": "debug",
        "z": "5f63f24b9e84d865",
        "name": "OUT2 Modbus polling/errors (optional)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 520,
        "y": 70,
        "wires": []
    },
    {
        "id": "b115499ff3b5c18d",
        "type": "inject",
        "z": "5f63f24b9e84d865",
        "name": "Refresh (every 10s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 1,
        "topic": "",
        "payloadType": "date",
        "x": 340,
        "y": 460,
        "wires": [
            [
                "b59bea7d3162c341"
            ]
        ]
    },
    {
        "id": "b59bea7d3162c341",
        "type": "function",
        "z": "5f63f24b9e84d865",
        "name": "SQL: stop count per cause (Top 10)",
        "func": "msg.topic = \"SELECT \" +\n            \"  IFNULL(NULLIF(TRIM(cause), ''), 'Unknown') AS cause, \" +\n            \"  COUNT(*) AS stop_count \" +\n            \"FROM stop_events \" +\n            \"WHERE end_time IS NOT NULL \" +\n            \"GROUP BY IFNULL(NULLIF(TRIM(cause), ''), 'Unknown') \" +\n            \"ORDER BY stop_count DESC \" +\n            \"LIMIT 10\";\n\nmsg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 580,
        "wires": [
            [
                "cd77f18874183a62"
            ]
        ]
    },
    {
        "id": "cd77f18874183a62",
        "type": "mysql",
        "z": "5f63f24b9e84d865",
        "mydb": "e95eb32d55689ca1",
        "name": "MySQL SELECT cause counts",
        "x": 570,
        "y": 480,
        "wires": [
            [
                "feb42870bb1787cf",
                "578e8a87a5ed6e54"
            ]
        ]
    },
    {
        "id": "feb42870bb1787cf",
        "type": "function",
        "z": "5f63f24b9e84d865",
        "name": "Format -> ui_chart (bar)",
        "func": "// MySQL node returns an array of rows: [{cause: 'X', stop_count: 5}, ...]\nconst rows = msg.payload;\n\nconst labels = [];\nconst data = [];\n\nif (Array.isArray(rows)) {\n  rows.forEach(r => {\n    labels.push(String(r.cause));\n    data.push(Number(r.stop_count));\n  });\n}\n\n// ui_chart expects: [{ series: [..], data: [[..]], labels: [..] }]\nmsg.payload = [{\n  series: [\"Stops\"],\n  data: [data],\n  labels: labels\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 540,
        "wires": [
            [
                "37b5ed92798bca4d"
            ]
        ]
    },
    {
        "id": "37b5ed92798bca4d",
        "type": "ui_chart",
        "z": "5f63f24b9e84d865",
        "name": "Stops per cause",
        "group": "29d4170f7334a7c5",
        "order": 1,
        "width": "3",
        "height": "3",
        "label": "Total stop count per cause (c",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data yetcccc",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1000,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "578e8a87a5ed6e54",
        "type": "debug",
        "z": "5f63f24b9e84d865",
        "name": "MySQL rows (optional)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 800,
        "y": 660,
        "wires": []
    },
    {
        "id": "0a4dc517539c7567",
        "type": "modbus-client",
        "name": "dvp",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.5",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "9137c6f64bfb628f",
        "type": "ui_group",
        "name": "Live status",
        "tab": "ui_tab_machine",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "18c82ffc2545d602",
        "type": "ui_group",
        "name": "Stop logging (MySQL)",
        "tab": "ui_tab_machine",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7de08c1c1333ad9",
        "type": "MySQLdatabase",
        "name": "MySQL arret",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "arret",
        "tz": "",
        "charset": "UTF8MB4"
    },
    {
        "id": "e95eb32d55689ca1",
        "type": "MySQLdatabase",
        "name": "DB",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "dashboard",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "29d4170f7334a7c5",
        "type": "ui_group",
        "name": "Default",
        "tab": "ui_tab_analytics",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_tab_machine",
        "type": "ui_tab",
        "name": "Machine",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_tab_analytics",
        "type": "ui_tab",
        "name": "Analytics",
        "icon": "insert_chart",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "128d7402d2b05352",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-modbus": "5.45.2",
            "node-red-dashboard": "3.6.6",
            "node-red-node-mysql": "3.0.0"
        }
    }
]