Flow Node-Red/flows (4).json
[
    {
        "id": "7f3e086f86256379",
        "type": "tab",
        "label": "DVP12SE Stops → MySQL",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a708b4a65f6763ac",
        "type": "comment",
        "z": "7f3e086f86256379",
        "name": "── POLLING M1 → INSERT DB ──────────────────────────────",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "722ff27f87c5d922",
        "type": "comment",
        "z": "7f3e086f86256379",
        "name": "── HTTP COMMANDS (depuis server.js) ─────────────────────",
        "x": 300,
        "y": 700,
        "wires": []
    },
    {
        "id": "099ef15e06721e97",
        "type": "modbus-read",
        "z": "7f3e086f86256379",
        "name": "Read stopReady (M1) adr=2049",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "2049",
        "quantity": "1",
        "rate": "200",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "0a4dc517539c7567",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 100,
        "wires": [
            [
                "c7ec4a47aa66a166"
            ],
            [
                "1939e78baa24d095"
            ]
        ]
    },
    {
        "id": "1939e78baa24d095",
        "type": "debug",
        "z": "7f3e086f86256379",
        "name": "Modbus errors",
        "active": false,
        "tosidebar": true,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "error.message",
        "statusType": "msg",
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "c7ec4a47aa66a166",
        "type": "function",
        "z": "7f3e086f86256379",
        "name": "Extract stopReady boolean",
        "func": "let bits = null;\nif (msg.payload && Array.isArray(msg.payload.data)) bits = msg.payload.data;\nelse if (Array.isArray(msg.payload)) bits = msg.payload;\nelse if (msg.payload && Array.isArray(msg.payload.payload)) bits = msg.payload.payload;\nif (!bits || bits.length === 0) return null;\nconst v = bits[0];\nconst stopReady = (v === true || v === 1 || v === '1');\nmsg.payload = stopReady;\nmsg.stopReady = stopReady;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 100,
        "wires": [
            [
                "8b9e2b5f898bd82e"
            ]
        ]
    },
    {
        "id": "8b9e2b5f898bd82e",
        "type": "rbe",
        "z": "7f3e086f86256379",
        "name": "RBE (edge detect)",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 700,
        "y": 100,
        "wires": [
            [
                "6140518f3c183e5a"
            ]
        ]
    },
    {
        "id": "6140518f3c183e5a",
        "type": "switch",
        "z": "7f3e086f86256379",
        "name": "Only stopReady == true",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 220,
        "y": 220,
        "wires": [
            [
                "f87c4251e4d1c6c3"
            ]
        ]
    },
    {
        "id": "f87c4251e4d1c6c3",
        "type": "modbus-getter",
        "z": "7f3e086f86256379",
        "name": "Read D10..D30  adr=4106  qty=21",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4106",
        "quantity": "21",
        "server": "0a4dc517539c7567",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "8557cfee3827e10c"
            ],
            [
                "1939e78baa24d095"
            ]
        ]
    },
    {
        "id": "8557cfee3827e10c",
        "type": "function",
        "z": "7f3e086f86256379",
        "name": "Build SQL  (cause_id vient de D30)",
        "func": "// ─── Registres lus : D10..D30 (qty=21) ─────────────────────\n// idx 0..6   = D10..D16  Start TRD\n// idx 7..9   = D17..D19  (non utilisés)\n// idx 10..16 = D20..D26  Stop TRD\n// idx 17..19 = D27..D29  (non utilisés)\n// idx 20     = D30       cause_id écrit par le ladder ISPSoft\n\nconst MICRO_STOP_SEC = 30;\nconst NC_CAUSE_ID    = 16;\n\nlet regs = null;\nconst p = msg.payload;\nif (p && Array.isArray(p.data))         regs = p.data;\nelse if (Array.isArray(p))              regs = p;\nelse if (p && Array.isArray(p.payload)) regs = p.payload;\n\nif (!regs || regs.length < 21) {\n  node.error(`Expected 21 regs, got ${regs ? regs.length : 0}`, msg);\n  return null;\n}\n\nfunction pad2(n) { return String(n).padStart(2, '0'); }\n\n// Start TRD D10..D16\nconst y1  = Number(regs[0]);\nconst mo1 = Number(regs[2]);\nconst d1  = Number(regs[3]);\nconst h1  = Number(regs[4]);\nconst mi1 = Number(regs[5]);\nconst s1  = Number(regs[6]);\n\n// Stop TRD D20..D26\nconst y2  = Number(regs[10]);\nconst mo2 = Number(regs[12]);\nconst d2  = Number(regs[13]);\nconst h2  = Number(regs[14]);\nconst mi2 = Number(regs[15]);\nconst s2  = Number(regs[16]);\n\n// ✅ cause_id depuis D30 (écrit par ISPSoft selon le M bit actif)\nconst plcCauseId = Number(regs[20]) || 0;\n\nconst jour  = `${y1}-${pad2(mo1)}-${pad2(d1)}`;\nconst debut = `${pad2(h1)}:${pad2(mi1)}:${pad2(s1)}`;\nconst fin   = `${pad2(h2)}:${pad2(mi2)}:${pad2(s2)}`;\n\nconst startMs = Date.UTC(y1, mo1-1, d1, h1, mi1, s1);\nconst stopMs  = Date.UTC(y2, mo2-1, d2, h2, mi2, s2);\n\nif (!Number.isFinite(startMs) || !Number.isFinite(stopMs) || stopMs < startMs) {\n  node.error(`Bad timestamps: ${jour} ${debut} → ${fin}`, msg);\n  return null;\n}\n\nconst durationSec = Math.floor((stopMs - startMs) / 1000);\n\n// Micro-arrêt < 30s → NC(16), sinon cause du PLC D30\nconst cause_id = durationSec < MICRO_STOP_SEC ? NC_CAUSE_ID : (plcCauseId || 1);\n\nmsg.stopKey = `${jour} ${debut}|${fin}`;\nmsg.stop    = { jour, debut, fin, durationSec, cause_id, plcCauseId };\n\nmsg.topic   = 'INSERT INTO stops (`Jour`, `Debut`, `Fin`, `cause_id`) VALUES (?, ?, ?, ?)';\nmsg.payload = [jour, debut, fin, cause_id];\n\nnode.log(`INSERT: ${jour} ${debut}→${fin} | ${durationSec}s | cause_id=${cause_id} (D30=${plcCauseId})`);\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "7c5aaba16d0ba3e2",
                "14cfc4daf0572d7f"
            ]
        ]
    },
    {
        "id": "14cfc4daf0572d7f",
        "type": "debug",
        "z": "7f3e086f86256379",
        "name": "Built stop (debug)",
        "active": true,
        "tosidebar": true,
        "complete": "stop",
        "targetType": "msg",
        "statusVal": "stop.durationSec",
        "statusType": "msg",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "7c5aaba16d0ba3e2",
        "type": "function",
        "z": "7f3e086f86256379",
        "name": "Skip duplicate stopKey",
        "func": "const last = flow.get('lastStopKey');\nif (last && msg.stopKey === last) {\n  node.status({ fill:'yellow', shape:'ring', text:'duplicate skipped' });\n  return null;\n}\nflow.set('lastStopKey', msg.stopKey);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 400,
        "wires": [
            [
                "3cc3f7ce7c3a99ec"
            ]
        ]
    },
    {
        "id": "3cc3f7ce7c3a99ec",
        "type": "mysql",
        "z": "7f3e086f86256379",
        "mydb": "23e89f1872a8178f",
        "name": "MySQL INSERT stop",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "8cda29dc96bcd701",
                "28a035cd805bca44"
            ]
        ]
    },
    {
        "id": "28a035cd805bca44",
        "type": "debug",
        "z": "7f3e086f86256379",
        "name": "MySQL result",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.affectedRows",
        "statusType": "msg",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "8cda29dc96bcd701",
        "type": "function",
        "z": "7f3e086f86256379",
        "name": "Store lastStopKey",
        "func": "if (msg.stopKey) flow.set('lastStopKey', msg.stopKey);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 420,
        "wires": [
            [
                "2ddfe61fa6c2f595"
            ]
        ]
    },
    {
        "id": "2ddfe61fa6c2f595",
        "type": "change",
        "z": "7f3e086f86256379",
        "name": "ACK payload = true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "x": 220,
        "y": 500,
        "wires": [
            [
                "9603c7b892c783f2"
            ]
        ]
    },
    {
        "id": "9603c7b892c783f2",
        "type": "modbus-write",
        "z": "7f3e086f86256379",
        "name": "Write stopAck (M2) adr=2050",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "2050",
        "quantity": "1",
        "server": "0a4dc517539c7567",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 480,
        "y": 500,
        "wires": [
            [
                "af032284e45ccf01"
            ],
            [
                "1939e78baa24d095"
            ]
        ]
    },
    {
        "id": "af032284e45ccf01",
        "type": "debug",
        "z": "7f3e086f86256379",
        "name": "ACK written",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 720,
        "y": 500,
        "wires": []
    },
    {
        "id": "dad111bddbf527a7",
        "type": "catch",
        "z": "7f3e086f86256379",
        "name": "Catch errors (all)",
        "scope": null,
        "uncaught": false,
        "x": 200,
        "y": 600,
        "wires": [
            [
                "65016700a85b9333"
            ]
        ]
    },
    {
        "id": "65016700a85b9333",
        "type": "debug",
        "z": "7f3e086f86256379",
        "name": "Caught error (full msg)",
        "active": true,
        "tosidebar": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "error.message",
        "statusType": "msg",
        "x": 460,
        "y": 600,
        "wires": []
    },
    {
        "id": "bed77b91b7b27a00",
        "type": "http in",
        "z": "7f3e086f86256379",
        "name": "POST /plc-set-m0",
        "url": "/plc-set-m0",
        "method": "post",
        "x": 180,
        "y": 740,
        "wires": [
            [
                "af568b3337de498e"
            ]
        ]
    },
    {
        "id": "af568b3337de498e",
        "type": "function",
        "z": "7f3e086f86256379",
        "name": "Prepare M0 write",
        "func": "// msg.payload.value = 1 (ON) or 0 (OFF)\nconst val  = msg.payload.value;\nmsg._res   = msg.res; // save HTTP response\nmsg.payload = (val === 1 || val === true);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 740,
        "wires": [
            [
                "08883d60f0d716de"
            ]
        ]
    },
    {
        "id": "08883d60f0d716de",
        "type": "modbus-write",
        "z": "7f3e086f86256379",
        "name": "Write M0  adr=2048",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "2048",
        "quantity": "1",
        "server": "0a4dc517539c7567",
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 620,
        "y": 740,
        "wires": [
            [
                "33ab51e57fde252d"
            ],
            [
                "1939e78baa24d095"
            ]
        ]
    },
    {
        "id": "33ab51e57fde252d",
        "type": "function",
        "z": "7f3e086f86256379",
        "name": "HTTP 200",
        "func": "msg.res = msg._res;\nmsg.payload = { ok: true };\nmsg.statusCode = 200;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 740,
        "wires": [
            [
                "ad4afd199a7cc429"
            ]
        ]
    },
    {
        "id": "ad4afd199a7cc429",
        "type": "http response",
        "z": "7f3e086f86256379",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 980,
        "y": 740,
        "wires": []
    },
    {
        "id": "afe073d8874e20c0",
        "type": "http in",
        "z": "7f3e086f86256379",
        "name": "POST /plc-set-cause",
        "url": "/plc-set-cause",
        "method": "post",
        "x": 180,
        "y": 840,
        "wires": [
            [
                "006d8a87a21d8997"
            ]
        ]
    },
    {
        "id": "006d8a87a21d8997",
        "type": "function",
        "z": "7f3e086f86256379",
        "name": "Prepare cause M bit (flex write)",
        "func": "// msg.payload.address = coil address (M10..M24 = 2058..2072)\n// msg.payload.value    = 1 (ON) or 0 (OFF)\nconst address = Number(msg.payload.address);\nconst value   = (msg.payload.value === 1 || msg.payload.value === true);\n\nmsg._res = msg.res; // save HTTP response\n\n// modbus-flex-write format\nmsg.payload = {\n  fc      : 5,       // FC05 Write Single Coil\n  unitid  : 1,\n  address : address,\n  quantity: 1,\n  value   : [value],\n};\n\nnode.log(`Set cause coil adr=${address} val=${value}`);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 840,
        "wires": [
            [
                "89e04a82299cb268"
            ]
        ]
    },
    {
        "id": "89e04a82299cb268",
        "type": "modbus-flex-write",
        "z": "7f3e086f86256379",
        "name": "Flex Write cause M bit",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "server": "0a4dc517539c7567",
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 660,
        "y": 840,
        "wires": [
            [
                "723b4f43a23f7952"
            ],
            [
                "1939e78baa24d095"
            ]
        ]
    },
    {
        "id": "723b4f43a23f7952",
        "type": "function",
        "z": "7f3e086f86256379",
        "name": "HTTP 200",
        "func": "msg.res = msg._res;\nmsg.payload = { ok: true };\nmsg.statusCode = 200;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 840,
        "wires": [
            [
                "2da510c92a61a424"
            ]
        ]
    },
    {
        "id": "2da510c92a61a424",
        "type": "http response",
        "z": "7f3e086f86256379",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1000,
        "y": 840,
        "wires": []
    },
    {
        "id": "0a4dc517539c7567",
        "type": "modbus-client",
        "name": "dvp",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.5",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "23e89f1872a8178f",
        "type": "MySQLdatabase",
        "name": "dbase",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "dashboard",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "5d05de8dbd28c66d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-modbus": "5.45.2",
            "node-red-node-mysql": "3.0.0"
        }
    }
]